# Ignore everything
*

# Except the src directory
!src/

# Track files and subdirectories inside src/
!src/**

# Don't ignore the requirements.txt file
!requirements.txt
!.gitignore


# 8EzLaEtJA1VSddeci63oRJkbLDJ8cqPdLHb87HiE2yPF    wallet pahtom prueba